h3{
    color:blue;
}
p{
    color:grey;
}
button{
    color:aqua;
    background-color: yellow;
}

body{
    background-color:black;
}
/*RGB color system
color: rgb(255,0,0)-red
color: rgb(0,255,0)-green
total = 255 of all three
color = (255,255,0)yellow
*/
body{
    background-color: rgb(255,255,0 );
}

/*HEX Color system
color=#ff0000 red
color=#00ff00 green
*/

body{
    background-color: #ff00ff;
}
/*
Universal selector
 *{}
*/
*{
    color:blue;
}
/*
Element Selector
h1{}
*/
h1{
    color:blue;
}
/*ID selector
 #id{}
*/
#idselector{
    color:rgb(237, 105, 11);
}

/*Class Selector
.class{}
*/
.classselector{
    color:green;
}
body{
    background-color: white;
}
/* problem set 1 */
#box{
    background-color: pink;
    color:black;
}
.heading{
    color:red;
}
/* 
OR 
h1,h2,h3{
    color:burlywood;
} */
 button{
    background-color: green;
 }
 /*end of problem set1*/
 /*Text Properties
 text -align
 text-align:left/right/center
 new css3 has text-align:left/right/center/start/end
generally : left=start but in some languages like urdu right = start and left = end
 */
 #example1{
    text-align:center;
 }
 /*text decoration*/
 h3{
    text-align: center;
    text-decoration: underline;
    text-decoration: underline;
} 
a{
    text-decoration: none;
    /*Removes the underline*/
}
a{
    text-decoration: green wavy underline;
    /*Creates a wave under the text*/
}
/*font-weight
    font-weight:normal/bold/bolder/lighter/100-900*/
#hd1{
    font-weight: 300;
}
#hd2{
    font-weight: 600;
}
#hd3{
    font-weight: 1000;
}
#para1{
    font-family: cursive,arial,roboto;
}
/*the high priority is given to arial if not available then roboto lly if we can if alternative styles if not in some devices*/
/*
units in CSS
absolute
Pixels(px)
in 1inch i.e 2.54cm there are 96px
16px is default
*/
#para2{
    font-size:30px;
}
#para3{
    font-size: 60px;
}
/*
Text properties 
line-height
line-height:2px
line-height-normal
if less the line overlaps on each other*/
#para1{
    line-height: 60px;
}
/*Text properties
text-transform
text-transform:uppercase/lowercase/capitalize/none
*/
#para2{
    text-transform: uppercase;
}
#para1{
    text-transform: capitalize;
}

/*problem set 2*/
#prob2
{
    text-align: center;
    text-transform: capitalize;

}
#outer{
    font-size:30px;
}
#inner{
    font-size: 20px;
}
/*Box model in CSS
-Height
-Width
-border
-padding
-margin*/
#outer{
    height: 50px;
    width: 200px;
    background-color: pink;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
}
#prob2{
    width: 1000px;
    height: 50px;
     background-color: yellow;
    /*border-width: 5px;
    border-style: solid;
    OR*/
    border:2px dashed black; 
    text-align: right; 
}
#exp1{
    height: 200px;
    width: 100px;
    background-color: bisque;
    border: 5px solid black;
}

#exp2{
    height: 300px;
    width: 300px;
    background-color: bisque;
    border: 5px solid black;
    border-radius:50%
}

#exp3{
    height: 200px;
    width: 100px;
    background-color: bisque;
    border: 5px solid black;border-radius: 20px;
    text-align: center;
}
#cc{
    height: 200px;
    width: 100px;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin:40px;
}

#cd{
    height: 200px;
    width: 100px;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    padding : 20px 60px 20px 60px;
    margin: 10px 20px 30px 40px;
}


#prob3{
    background-color: black;
    height: 50px;
    color: yellow;
    text-decoration: none;
}
#dev{
    background-color: blueviolet;
    display: inline;
}
#but{
    background-color: yellow;
    display: block;
}
div{
    height: 100px;
    width: 100px;
    margin:25px;
    padding:25px;
    /* display: inline;
    margin is not added from top and bottom when we use this */
    display:inline-block;
    /* display:none this will remove the thing to be displayed*/
    /* visibility: hidden; just similar to display :none but place is reserved for elements */
}
/*Alpha Channel
opacity(0 to 1)
-RGBA
color:rgba(255,0,0,0.5)*/
#alp{
    background-color: rgba(255,0,0,0.5);
}